/*font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body{
	background-color: #B6E6BD;
	font-family: 'Merriweather', serif;
}

.logo a{
	font-family: 'Sacramento', cursive;
	font-size: 2rem;
	padding-top : 2rem;
	padding-left: 1.6rem;
	color : #000000;
}

h1{
	font-size: 3rem;
	font-style: normal;
	font-weight: bold;
	color: #F67E7D;
	text-align: center;
	letter-spacing: 0.2em;
	margin: auto;
	margin-bottom: 2rem;
}

.container-fluid {
    margin-bottom: 1rem;
    color: #F67E7D;
  	margin :auto;
    display: flex
}

#wrapper-all{
	max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    margin: auto;
    display: block;
	padding-top: 1rem;
    padding-bottom: 1rem
}

#wrapper-daftar{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	font-weight: normal;
    margin-top:17px;
    margin-bottom:17px;
}



