/*font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body{
	background-color: #B6E6BD;
	font-family: 'Merriweather', serif;
}

.logo a{
	font-family: 'Sacramento', cursive;
	font-size: 2rem;
	padding-top : 2rem;
	padding-left: 1.6rem;
	color : #000000;
}

#wrapper-all{
	color: #F62E7D;
	max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    margin: auto;
    display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-content: center;
}
form{
	margin: auto;
}





