/*font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body{
	background-color: #B6E6BD;
	font-family: 'Merriweather', serif;
}

.logo a{
	font-family: 'Sacramento', cursive;
	font-size: 2rem;
	padding-top : 2rem;
	padding-left: 1.6rem;
	color : #000000;
}

h1{
	font-size: 3rem;
	font-style: normal;
	font-weight: bold;
	color: #F67E7D;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 2rem;
}

.container-fluid button[type=submit] {
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #F67E7D;
  	margin :auto;
  	border: white;
    display: flex
}

#wrapper-all{
	max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    margin: auto;
    display: block;
	
	padding-top: 1rem;
    padding-bottom: 1rem

}

#isi_status{
	font-family: 'Montserrat', sans-serif;*
	font-size: 14px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

.organization{
	font-family: 'Montserrat', sans-serif;*
	font-size: 14px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

.option > a {
	background-color: #FFFFFF;
	padding: 10px 15px;
	text-decoration: none;
	border-bottom: 1px solid #000;
	
}

ul{
	list-style-type: none;
}