/*font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body{
	font-family: 'Merriweather', serif;
}
.container{
	background-color: #B6E6BD;
}
ul{
	list-style-type: none;
}

.logo a{
	font-family: 'Sacramento', cursive;
	font-size: 2rem;
	padding-top : 2rem;
	padding-left: 1.6rem;
	color : #000000;
}

h1{
	font-size: 3rem;
	font-style: normal;
	font-weight: bold;
	color: #F67E7D;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 2rem;
}

.container-fluid button[type=submit] {
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #F67E7D;
  	margin :auto;
  	border: white;
    display: flex
}

.container-fluid > .change-mode-button{
	background-color: #FFFFFF;
	padding : 0.5rem;
	border-radius: 10px;
    color: #F67E7D;
  	margin :auto;
  	border: white;
	display: flex;
	float: right;
}

#wrapper-all{
	max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    margin: auto;
    display: block;
	
	padding-top: 1rem;
    padding-bottom: 1rem

}

#isi_status{
	font-family: 'Montserrat', sans-serif;*
	font-size: 14px;
    margin-top: 1rem;
}

.organization{
	font-family: 'Montserrat', sans-serif;*
	font-size: 14px;
    margin-top: 1rem;
}

/* accordion */
.option{
	font-family: 'Montserrat', sans-serif;*
	overflow: hidden;
    color: black;
    background: white;
	margin: 0;
	padding : 1rem;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.inner {
	width: 100%;
	color: black;
	overflow: hidden;
	&-label {
	  display: flex;
	  justify-content: space-between;
	  padding: 1em;
	  background: $midnight;
	  font-weight: bold;
	  cursor: pointer;
	  /* Icon */
	  &:hover {
		background: darken($midnight, 10%);
	  }
	  &::after {
		content: "\276F";
		width: 1em;
		height: 1em;
		text-align: center;
		transition: all .35s;
	  }
	}
}

/* Mode */
.container.-change-mode{
	& {
		background-color: #D7D1C9 !important;
	}
	h1 , button{
		& {
			color: #672F2F !important;
		}
	}
}