/*font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body{
	background-color: #B6E6BD;
	font-family: 'Merriweather', serif;
}

.logo{
	font-family: 'Sacramento', cursive;
	font-size: 14px

	padding-top : 1.6rem;
	padding-left: 1.6rem;
}

h1{
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #F67E7D;
	text-align: center;
	letter-spacing: 0.1em;
}

.container-fluid button[type=submit] {
    background-color: #FFFFFF;
    border: 1px solid #252C29;
    margin-bottom: 1rem;
    border-radius: 20px;

    margin-right: 0;
    margin-left: auto;
}

#isi_status{
	font-family: 'Montserrat', sans-serif;*
	color: #142D4C;
	font-size: 20px;
	
}