<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Apa Kabar?</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
</head>
<body>
	<div class="logo">
	    <a href="#">
	        noviarmdnfg
	    </a>
	</div>
	<div class="container-fluid" id="wrapper-all">

		<div class="container-fluid" id="wrapper-tanya">
			<h1>Halo, Apa Kabar?</h1>
			<form method="POST" action=".">
				{% csrf_token %}
				{{ form.as_p }}
			<button type="submit" class="btn btn-primary">kirim</button>
			</form>
		</div>

		<div class="container-fluid" id="wrapper-status">
			{% for status in kabar %}
			<div class="container-fluid" id="isi_status">
				{{ status.date }}
				<br>
				{{ status.kabar }}
			</div>
			{% endfor %}
		</div>

	</div>
</body>
</html>