/*font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/

body{
	background-color:#B6E6BD;
	font-family: 'Merriweather', serif;
}

.logo a{
	font-family: 'Sacramento', cursive;
	font-size: 2rem;
	padding-top : 2rem;
	padding-left: 1.6rem;
	color : #000000;
}

#wrapper-all{
	color: #F67E7D;
    margin: auto;
    display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-content: center;
}

#wrapper-tanya{
	width: 20rem;
    min-height: 35rem;
}

#wrapper-sapa{
	margin: auto;
	text-align: center;
}


.container-fluid input[type=submit], .tombol {
	background-color: #FFFFFF;
	margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #F67E7D;
  	margin :auto;
  	border: white;
	display: flex;
	width : 5rem;
	text-align: center;
}






