<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
</head>
<body>
	<div class="logo">
	    <a href="#">
	        noviarmdnfg
	    </a>
	</div>
	{% if user.is_authenticated %}
	<div class="container-fluid" id="wrapper-all">
		<div class="container-fluid" id="wrapper-sapa">
			<h1 class='sapa'>Selamat Datang, {{user.username}}</h1>
		</div>
			
		<div class="log-button">
			<a class='btn btn-primary tombol' href="{% url 'logout' %}">Keluar</a>
		</div>
	</div>
	{% else %}
	<div class="container-fluid" id="wrapper-all">
		<div class="container-fluid" id="wrapper-tanya">
			<form action="" method="POST">
				{% csrf_token %}
				{{ form }}
				<div class="log-button">
					<input type="submit" class="btn btn-primary" value="Masuk" id="submit">
				</div>
			</form>
		</div>
	</div>
	{% endif %}
</body>
</html>