<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
	<title>Daftar Buku</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
	
</head>
<body>
	<div class="logo">
	    <a href="#">
	        noviarmdnfg
	    </a>
	</div>
	<div class="container-fluid" id="wrapper-all">
		<div class="container-fluid" id="wrapper-tanya">
			<h1 style="text-align: center;">Daftar Buku</h1>
        </div>
        <div class="cari">
            <input type="text" id="textField" placeholder="Cari Buku" title="tulis judul buku">
		</div>
        <div id="wrapper-daftar">
			<table class="table">
				<thead class="thead-light">
				  <tr>
					<th scope="col" class="align-middle">No</th>
					<th scope="col" class="align-middle">Sampul</th>
					<th scope="col" class="align-middle">Judul</th>
					<th scope="col" class="align-middle">Pengarang</th>
					<th scope="col" class="align-middle">Penerbit</th>
					<th scope="col" class="align-middle">Tanggal Terbit</th>
				  </tr>
				</thead>
				<tbody></tbody>
			  </table>
			  <br>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/js.js' %}"></script>
</body>
</html>
