<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
	<title>Apa Kabar?</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
</head>
<body class="change">
	<div class="logo">
	    <a href="#">
	        noviarmdnfg
	    </a>
	</div>
	<div class="container-fluid" id="wrapper-all">
		<div class="container-fluid" id="wrapper-tanya">
			<h1>Halo, Aku Novia</h1>
		</div>
		<br>
		<div class="accordion">
			<div id="aktivitas">
				<ul class="option" ><a class="toggle">Aktivitas</a>
					<li id="kumpulan_status"  class="inner">		
						<ul>
							<li class="organization">
								<p>Ngerjain Tugas Kuliah</p>
							</li>
							<li class="organization">
								<p>Ngurusin Duit DPM</p>
							</li>
							<li class="organization">
								<p>Ngedanus buat FUKI</p>
							</li>
							<li class="organization">
								<p>Dateng Rapat Juga</p>
							</li>
							<li class="organization">
								<p>Pengan Liburan</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="organisasi">
				<ul class="option" ><a class="toggle">Pengalaman Organisasi dan Kepanitiaan</a>
					<li  class="inner">
						<ul>
							<li class="organization">
								<p class="period">2019 - sekarang</p>
								<p>Controller DPM Fasilkom UI<br>
								Mengatur pengeluaran dan pemasukan keuangan DPM Fasilkom UI</p>
							</li>
							<li class="organization">
								<p class="period">2019</p>
								<p>Bendahara 1 Wisuda Genap Fasilkom UI<br>
								Mengatur pengeluaran dan pemasukan keuangan Wisuda Genap Fasilkom UI</p>
							</li>
							<li class="organization">
								<p class="period">2019 - sekarang</p>
								<p>Staff FUKI Corp 2019<br>
								Divisi yang membantu Keuangan FUKI</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="prestasi">
				<ul class="option" ><a class="toggle">Prestasi</a>
					<li  class="inner">
						<ul>
							<li class="organization">
								<p class="period">2016</p>
								<p>Juara III Siswa berprestasi tingkat SMA IPS putri</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
		</div>
		<br>
		<div class="container-fluid" id="wrapper-button">
				<button class="change-mode-button">Ubah Tema</button>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>